@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body {
    font-family: "Montserrat", 'sans-serif';
    background-size: 20%, 30%;
    background-attachment: fixed, fixed;
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: top 0 right 0, bottom 0 left 0;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: hsl(240, 78%, 98%);
}

.switch {
    margin: 10px;
    display: flex;
    align-self: center;
    align-items: center;
    width: 50px;
    height: 27px;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 20px;
    cursor: pointer;
}
.switch.on{
    transition: 400ms;
    opacity: 0.7;
}
.switch.on .slider {
    transform: translateX(20px);
}
#price1,
#price2{
    display: inline-block; 
    margin-top: 15%;
    margin-bottom: 15%;
}
#price2{
    display: none;
}
.price.on #price2{
    display: inline-block;
}
.price.on #price1{
    display: none;
   
}
.price.on{
    transform: rotate(360deg);
}
.slider {

    width: 22px;
    height: 22px;
    margin: 4px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.4s;
}

.titleContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
    margin-top: 12px;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h3 {
    opacity: 0.5;
    display: inline;
}


/*-------*/



.container {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    height: 480px;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;

}

@media (max-width: 1200px) {
    .container {
        width: 325px;
    }
}

.storage,
.users,
.transfer {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-width: thin;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 900;
}

.transfer {
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    border-width: thin;
}

.title {
    text-align: center;
}

.comp {
    margin: 4px;
    padding: 10px;
    text-align: center;
}

.learn {
    padding: 15px;
    margin: 25px;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
.learn:hover {
    background-image: none;
    background-color: whitesmoke;
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%);;
}

.htext {
    color: white;
    text-decoration: none;
}

.item {
    flex: 1;
    border-radius:  5%;
    background-color: whitesmoke;
    margin-top: 7px;
    margin-bottom: 7px;
    flex-grow: 1;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    transition: 400ms ease-in-out;
    padding: 0;
    margin: 0;
    
}

.professional {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: aliceblue;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.master,
.basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#professionalLearn {
    background-image: none;
    background-color: whitesmoke;
    color: hsl(237, 63%, 64%);
}
#professionalLearn:hover{
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border: 1px solid snow;
}

.professional>.storage,
.professional>.users,
.professional>.transfer {
    border-top: 1px solid rgb(240, 248, 255, 0.3);
    border-width: thin;

}

.professional>.transfer {
    border-bottom: 1px solid rgba(240, 248, 255, 0.3);
    border-width: thin;

}
div p{
    float: left;
    line-height: 0;
}

div span{
    font-size: xx-large;
    float: left;
    line-height: 0;
    vertical-align: middle;
}